$font1: 'Barlow', sans-serif;
$font2: 'Inter', sans-serif;
$font3: 'Playfair Display', serif;
$color-txt: #2F2E2E;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

main {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
}

@mixin title-styles {
    font-family: $font2;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}