* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

.header {
  display: flex;
  flex-direction: column;
}
.header .header__nav {
  min-height: 188px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6.5%;
  margin-right: 6.5%;
}
.header .header__nav .header__nav-logo {
  font-family: "Barlow", sans-serif;
  font-size: 2.625vw;
  font-weight: 600;
  line-height: 50px;
  color: #2F2E2E;
}
.header .header__nav .header__nav-list {
  min-width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__nav .header__nav-list .header__nav-item {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 24px;
  color: #2F2E2E;
}
.header .header__nav .header__nav-list .header__nav-item:hover {
  font-weight: 700;
}
.header .header__nav .header__nav-list .header__nav-item:first-child {
  font-weight: 700;
}
.header .header__nav .header__nav-list .header__nav-btn {
  width: 1.562vw;
  height: 1.344vw;
  border: none;
  background-color: white;
  background-image: url(../images/search-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.header .header__cover {
  min-height: 739px;
  display: grid;
  grid-template: 9% 1fr 9%/20% 28% 1fr 12%;
  row-gap: 3%;
}
.header .header__cover .header__cover-background {
  grid-area: 1/2/4/5;
  background-image: url(../images/pexels-expect-best-3237801.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header .header__cover .header__cover-text {
  grid-area: 2/1/3/3;
  background-image: url(../images/rectangle-1.png);
  color: #2F2E2E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  row-gap: 0.625vw;
}
.header .header__cover .header__cover-text .header__cover-title {
  font-family: "Playfair Display", serif;
  font-size: 3.187vw;
  line-height: 3.75vw;
  font-weight: 600;
  margin-left: 15%;
  margin-right: 15%;
}
.header .header__cover .header__cover-text .header__cover-comment {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 2vw;
  line-height: 2.437vw;
  margin-left: 15%;
  margin-right: 15%;
}
.header .header__cover .header__cover-switch {
  grid-area: 3/4/4/5;
  background-image: url(../images/rectangle-3.png);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .header__cover .header__cover-switch .btn-left {
  width: 25%;
  height: 44%;
  background-image: url(../images/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.header .header__cover .header__cover-switch .btn-right {
  width: 25%;
  height: 44%;
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

/* --------------------------Section Our projects-----------------------------*/
.projects {
  display: flex;
  flex-direction: column;
}

.projects__nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 6.9%;
  margin-left: 6.9%;
  min-height: 160px;
}

.projects__title {
  font-family: "Playfair Display";
  font-style: Black Roman;
  font-size: 51px;
  line-height: 100%;
  font-weight: bold;
  text-align: left;
  fill: Solid;
  color: #2F2E2E;
}

.projects__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 50%;
}

.projects__nav-item {
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 24px;
  color: #484747;
  text-decoration: none;
  line-height: 24px;
}

.projects__nav-item:hover {
  font-weight: 600;
}

.projects__nav-item:first-child {
  font-weight: 600;
}

.flex-row {
  display: flex;
  justify-content: center;
  gap: 104px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.flex-item-1,
.flex-item-2,
.flex-item-3,
.flex-item-4,
.flex-item-5,
.flex-item-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-item-1 img,
.flex-item-2 img,
.flex-item-3 img,
.flex-item-4 img,
.flex-item-5 img,
.flex-item-6 img {
  width: 344px;
  height: 193px;
}

.flex-row:first-child {
  border-left: none;
}

.flex-row:last-child {
  border-left: none;
}

.text-description {
  width: 178px;
  height: 48px;
  margin-top: 13px;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Playfair Display";
  color: #2F2E2E;
}

/* --------------------------Section testimonial-----------------------------*/
.testimonial__container {
  max-width: 86.11vw;
  margin: 0 auto;
}

.testimonial__row {
  display: flex;
  margin-top: 4.875rem;
}

.testimonial__column {
  flex: 0 0 50%;
  display: flex;
}

.testimonial__info {
  display: flex;
  flex-direction: column;
}

.testimonial__info:first-child {
  margin-left: 1.8125rem;
}

.testimonial__info:last-child {
  margin-left: 1.3125rem;
}

.testimonial__subtitle {
  text-align: center;
  color: #000000;
  font-weight: bold;
}

.subtitle {
  font-family: "Playfair Display", serif;
  font-size: 51px;
  line-height: 60px;
}

.testimonial__full-name {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  line-height: 33px;
  color: #2F2E2E;
  font-weight: bold;
  margin-bottom: 16px;
}

.testimonial__text {
  font-family: "Playfair Display", serif;
  font-size: 17px;
  line-height: 20px;
  color: #2F2E2E;
  width: 19.1875rem;
}

.testimonial__dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5.5rem;
  padding-bottom: 4.125rem;
}

.testimonial__dot {
  background-color: #E9E9E9;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 1.25rem;
}

.testimonial__dot:first-child {
  background-color: #C4C4C4;
  margin-left: 0;
}

.footer {
  width: 100%;
  max-height: 369px;
  background-color: #2E2F32;
  display: flex;
  justify-content: space-between;
  color: #FAFAFA;
  padding: 0px 99px 0px 99px;
}
.footer a {
  color: #FAFAFA;
}
.footer .footer__block-about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 287px;
}
.footer .footer__block-about .footer__title-1 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
}
.footer .footer__block-about .footer__text {
  margin-top: 7px;
  margin-bottom: 45px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
}
.footer .footer__block-about .social-icons {
  max-width: 120px;
  display: flex;
  justify-content: space-between;
}
.footer .footer__block-articles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 201px;
}
.footer .footer__block-articles .footer__title-2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
}
.footer .footer__block-articles .footer__block-articles__links {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  max-width: 201px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}
.footer .footer__block-articles .footer__block-articles__links a {
  padding-bottom: 22px;
}
.footer .footer__block-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 65px;
}
.footer .footer__block-links .footer__title-3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
}
.footer .footer__block-links .footer__block-links-nav {
  margin-top: 18px;
}
.footer .footer__block-links .footer__block-links-nav a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}
.footer .footer__block-location {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 295px;
}
.footer .footer__title-4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
}
.footer .footer__location-img {
  margin-top: 18px;
}

.footer {
  max-height: 369px;
  background-color: #2E2F32;
  display: flex;
  margin: auto;
  color: #FAFAFA;
  padding: 47px 99px 44px 99px;
}
.footer a {
  color: #FAFAFA;
}
.footer .block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer .block_1 .social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  font-size: 25px;
}/*# sourceMappingURL=style.css.map */