@import './general';

.header {
  display: flex;
  flex-direction: column;

  .header__nav {
    min-height: 188px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 6.5%;
    margin-right: 6.5%;

    .header__nav-logo {
      font-family: $font1;
      font-size: 42px;
      font-weight: 600;
      line-height: 50px;
      color: $color-txt;
    }

    .header__nav-list {
      min-width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header__nav-item {
        font-family: $font2;
        font-style: normal;
        font-weight: 400;
        font-size: 1.25vw;
        line-height: 24px;
        color: $color-txt;
      }

      .header__nav-item:hover {
        font-weight: 700;
      }

      .header__nav-item:first-child {
        font-weight: 700;
      }

      .header__nav-btn {
        width: 1.562vw;
        height: 1.344vw;
        border: none;
        background-color: white;
        background-image: url(../images/search-button.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  .header__cover {
    min-height: 739px;
    display: grid;
    grid-template: 9% 1fr 9%/ 20% 28% 1fr 12%;
    row-gap: 3%;

    .header__cover-background {
      grid-area: 1/ 2/ 4/ 5;
      background-image: url(../images/pexels-expect-best-3237801.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .header__cover-text {
      grid-area: 2/ 1/ 3/ 3;
      background-image: url(../images/rectangle-1.png);
      color: $color-txt;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      row-gap: 0.625vw;

      .header__cover-title {
        margin-left: 15%;
        margin-right: 15%;
      }

      .header__cover-comment {
        font-family: $font2;
        font-style: normal;
        font-weight: 200;
        font-size: 2vw;
        line-height: 2.437vw;
        margin-left: 15%;
        margin-right: 15%;
      }
    }

    .header__cover-switch {
      grid-area: 3/ 4/ 4 /5;
      background-image: url(../images/rectangle-3.png);
      display: flex;
      justify-content: space-around;
      align-items: center;

      .btn-left {
        width: 25%;
        height: 44%;
        background-image: url(../images/arrow-left.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: none;
        background-color: rgba(255, 255, 255, 0);
      }

      .btn-right {
        width: 25%;
        height: 44%;
        background-image: url(../images/arrow-right.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: none;
        background-color: rgba(255, 255, 255, 0);
      }
    }
  }
}

/* --------------------------Section our service-----------------------------*/
.service-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(37, 77, 77, 0.2);
  margin-bottom: 95px;
  height: 504px;
}

.service-title {
  text-align: center;
  padding: 1.5%;
  margin-bottom: 90px;
}

.service {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  width: 100%;
  grid-template-areas: "p i e";

  &__planning {
    display: grid;
    justify-items: center;
    grid-area: p;
  }

  &__interior {
    display: grid;
    justify-items: center;
    grid-area: i;
  }

  &__exterior {
    display: grid;
    justify-items: center;
    grid-area: e;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    width: 158px;
    height: 87px;
  }

  &__textstyle {
    font-family: "Playfair Display";
    font-size: 27px;
    font-weight: 800;
    line-height: 32px;
    text-align: center;
    color: #2F2E2E;
  }

  &__comment{
    text-align: center;
    line-height: 19px;
  }
}

/* --------------------------Section about us-----------------------------*/
.about {
  display: flex;
  gap: 104px;
  margin: 76px 64px 95px 100px;

  &__title {
    margin-bottom: 27px;
  }

  &__discription {
    width: 456px;
    margin-bottom: 36px;
    font-family: $font3;
    font-size: 31px;
    line-height: 36px;
    color: #2F2E2E;
  }

  &__link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: #2F2E2E;
  }
}

/* --------------------------Section Our projects-----------------------------*/

.projects {
  display: flex;
  flex-direction: column;
}

.projects__nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 6.9%;
  margin-left: 6.9%;
  min-height: 160px;
}

.projects__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 50%;
}

.projects__nav-item {
  font-style: normal;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 24px;
  color: #484747;
  text-decoration: none;
  line-height: 24px;
}

.projects__nav-item:hover {
  font-weight: 600;
}

.projects__nav-item:first-child {
  font-weight: 600;
}

.flex-row {
  display: flex;
  justify-content: center;
  gap: 104px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.flex-item-1,
.flex-item-2,
.flex-item-3,
.flex-item-4,
.flex-item-5,
.flex-item-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-item-1,
.flex-item-2,
.flex-item-3 {
  margin-bottom: 85px;
}


.flex-item-6 {
  margin-bottom: 90px;
}

.flex-item-1 img,
.flex-item-2 img,
.flex-item-3 img,
.flex-item-4 img,
.flex-item-5 img,
.flex-item-6 img {
  width: 344px;
  height: 193px;
}

.flex-row:first-child {
  border-left: none;
}

.flex-row:last-child {
  border-left: none;
}

.text-description {
  width: 178px;
  height: 48px;
  margin-top: 13px;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  font-family: 'Playfair Display';
  color: #2F2E2E;
}

/* --------------------------Section testimonial-----------------------------*/
.testimonial__container {
  max-width: 86.11vw;
  margin: 0 auto;


  .testimonial__row {
    display: flex;
    margin-top: 4.875rem;
  }

  .testimonial__column {
    flex: 0 0 50%;
    display: flex;
  }

  .testimonial__info {
    display: flex;
    flex-direction: column;
  }

  .testimonial__info:first-child {
    margin-left: 1.8125rem;
  }

  .testimonial__info:last-child {
    margin-left: 1.3125rem;
  }

  .testimonial__subtitle {
    text-align: center;
    color: #000000;
  }

  .testimonial__full-name {
    font-family: $font3;
    font-size: 28px;
    line-height: 33px;
    color: #2F2E2E;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .testimonial__text {
    font-family: $font3;
    font-size: 17px;
    line-height: 20px;
    color: #2F2E2E;
    width: 19.1875rem;
  }

  .testimonial__dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5.5rem;
    padding-bottom: 4.125rem;
  }

  .testimonial__dot {
    background-color: #E9E9E9;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 1.25rem;
  }

  .testimonial__dot:first-child {
    background-color: #C4C4C4;
    margin-left: 0;
  }
}

/* --------------------------Footer-----------------------------*/

.footer {
  width: 100%;
  max-height: 369px;
  background-color: #2E2F32;
  display: flex;
  justify-content: space-between;
  color: #FAFAFA;
  padding: 47px 99px 47px 99px;

  a {
    color: #FAFAFA;
  }

  .footer__block-about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 287px;

    .footer__title-1 {
      font-family: $font1;
      font-style: normal;
      font-weight: 600;
      font-size: 42px;
    }

    .footer__text {
      margin-top: 7px;
      margin-bottom: 45px;
      font-family: $font2;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 29px;
    }

    .social-icons {
      max-width: 120px;
      display: flex;
      justify-content: space-between;
    }
  }

  .footer__block-articles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 201px;

    .footer__title-2 {
      @include title-styles;
    }

    .footer__block-articles-links {
      display: flex;
      flex-direction: column;
      margin-top: 18px;
      max-width: 201px;
      font-family: $font2;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 21px;

      a {
        padding-bottom: 22px;
      }
    }
  }

  .footer__block-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 65px;

    .footer__title-3 {
      @include title-styles;
    }

    .footer__block-links-nav {
      margin-top: 18px;
      display: flex;
      flex-direction: column;

      a {
        font-family: $font2;
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
        padding-bottom: 7px;
      }
    }
  }

  .footer__block-location {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 295px;
  }

  .footer__title-4 {
    @include title-styles;
  }

  .footer__location-img {
    margin-top: 18px;
  }
}