@import './general';

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;

    .header__nav {
        min-height: 188px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 6.5%;
        margin-right: 6.5%;

        .header__nav-logo {
            font-family: $font1;
            font-size: 2.625vw;
            font-weight: 600;
            line-height: 50px;
            color: $color-txt;
        }

        .header__nav-list {
            min-width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header__nav-item {
                font-family: $font2;
                font-style: normal;
                font-weight: 400;
                font-size: 1.25vw;
                line-height: 24px;
                color: $color-txt;
            }

            .nav-item1 {
                font-weight: 700;
            }

            .header__nav-btn {
                width: 1.562vw;
                height: 1.344vw;
                border: none;
                background-color: white;
                background-image: url(../images/search-button.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }

    .header__cover {
        min-height: 739px;
        background-image: url(../images/pexels-expect-best-3237801.jpg);
        background-repeat: no-repeat;
        background-size: 80% 100%;
        background-position: right;
        display: flex;
        align-items: center;

        .header__cover-text {
            color: $color-txt;
            width: 50%;
            height: 75%;
            background-image: url(../images/rectangle-1.png);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;

            .header__cover-title {
                font-family: $font3;
                font-size: 3.187vw;
                line-height: 60px;
                font-weight: 600;
            }

            .header__cover-comment {
                font-family: $font2;
                font-style: normal;
                font-weight: 200;
                font-size: 2vw;
                line-height: 39px;
            }
        }

        .header__cover-switch {
            width: 11%;
            height: 4%;
            background-image: url(../images/rectangle-3.png);
            display: flex;
            justify-content: space-around;

            .btn-left {
                width: 14%;
                height: 92%;
                background-image: url(../images/arrow-left.svg);
            }

            .btn-right {
                width: 14%;
                height: 92%;
                background-image: url(../images/arrow-right.svg);
            }
        }
    }
}

.projects {
    display: flex;
    flex-direction: column;
}

.projects-title {
    position: relative;
    width: 307px;
    height: 68px;
    left: 100px;
    font-size: 51px;
    line-height: 60px;
}

.projects-nav {
    min-height: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 17.5%;
}

.projects-nav-list {
    min-width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-nav-item {
    font-style: normal;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 24px;
    color: #484747;
    text-decoration: none;
    line-height: 24px;
}

.nav-item1 {
    font-weight: 600;
    width: 25px;
    left: 762px;
}


.title {
    font-size: 36px;
    font-weight: bold;
    border-left: 4px solid black;
    margin-left: 16.5%;
    padding-left: 100px;
    margin-bottom: 32px;
    align-items: flex-start;
}

.flex-row {
    display: flex;
    justify-content: center;
    gap: 104px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-item-1,
.flex-item-2,
.flex-item-3,
.flex-item-4,
.flex-item-5,
.flex-item-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-item-1 img,
.flex-item-2 img,
.flex-item-3 img,
.flex-item-4 img,
.flex-item-5 img,
.flex-item-6 img {
    width: 344px;
    height: 193px;
}

.flex-row:first-child {
    border-left: none;
}

.flex-row:last-child {
    border-left: none;
}

.text-description {
    width: 178px;
    height: 48px;
    margin-top: 8px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
}

/* --------------------------Section testimonial-----------------------------*/
.testimonial__container {
    max-width: 86.11vw;
    margin: 0 auto;
}

.testimonial__row {
    display: flex;
    margin-top: 4.875rem;
}

.testimonial__column {
    flex: 0 0 50%;
    display: flex;
}

.testimonial__info {
    display: flex;
    flex-direction: column;
}

.testimonial__info:first-child {
    margin-left: 1.8125rem;
}

.testimonial__info:last-child {
    margin-left: 1.3125rem;
}

.testimonial__subtitle {
    text-align: center;
    color: #000000;
    font-weight: bold;
}

.subtitle {
    font-family: "Playfair Display", serif;
    font-size: 51px;
    line-height: 60px;
}

.testimonial__full-name {
    font-family: "Playfair Display", serif;
    font-size: 28px;
    line-height: 33px;
    color: #2F2E2E;
    font-weight: bold;
    margin-bottom: 16px;
}

.testimonial__text {
    font-family: "Playfair Display", serif;
    font-size: 17px;
    line-height: 20px;
    color: #2F2E2E;
    width: 19.1875rem;
}

.testimonial__dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5.5rem;
    padding-bottom: 4.125rem;
}

.testimonial__dot {
    background-color: #E9E9E9;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 1.25rem;
}

.testimonial__dot:first-child {
    background-color: #C4C4C4;
    margin-left: 0;
}

.footer {
  max-height: 369px;
  background-color: #2E2F32;
  display: flex;
  margin: auto;
  color: #FAFAFA;
  padding: 47px 99px 44px 99px;

  a {
      color: #FAFAFA;
  }

  .block {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
  }

  .block_1 {
      .social-icons a {
          display: inline-block;
          margin: 0 10px;
          color: #fff;
          font-size: 25px;
      }
  }
}